<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font/bootstrap-icons.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>

    <style>
        /* The side navigation menu */
        .sidenav {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: white;
            /* Black*/
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidenav */

            border: 1px solid #ddd
        }

        /* The navigation menu links */
        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            /* font-size: 25px; */
            color: black;
            display: block;
            transition: 0.2s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            /* color: #f1f1f1; */
            background-color: #eee;
        }

        /* Position and style the close button (top right corner) */
        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
        }

        .no-wrap {
            white-space: nowrap;
        }

        .main-content {
            background-color: #f8f9f9;
        }

        #header {
            max-height: 60px;
            min-height: 60px;
            color: white;

            background-color: blue;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>

    <script>
        /* Set the width of the side navigation to 250px */

        window.onload = (event) => {
            const mediaQuery = window.matchMedia('(min-width: 600px)');
            if (mediaQuery.matches) {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";

            }
        }

        function openNav() {
            const mediaQuery = window.matchMedia('(min-width: 600px)');
            document.getElementById("mySidenav").style.width = "250px";

            if (mediaQuery.matches) {
                document.getElementById("main").style.marginLeft = "250px";
            }
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            const mediaQuery = window.matchMedia('(min-width: 600px)');
            document.getElementById("mySidenav").style.width = "0";

            if (mediaQuery.matches) {
                document.getElementById("main").style.marginLeft = "0";
            }
        }
    </script>
</head>

<body>

    <!-- <header>
        <h1>This is the header</h1>
    </header> -->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div>
            <%- include('nav', { currentUser }) %>
        </div>

    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <!-- <div id="main">
        ...sdfgsdgsgsgsg
    </div> -->
    <div id="main">
        <div id="header" class="bg-primary d-flex align-items-center p-2">
            <div>
                <i class="bi bi-list focus-ring" onclick="openNav()"></i>&nbsp; SMS
            </div>

            <div class="dropdown ms-auto">
                <i class="bi bi-person-circle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="cursor: pointer"></i>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"><%= currentUser.fullName %> sss</a></li>
                    <li><a class="dropdown-item border-bottom" href="/dashboard/profile">Profile</a></li>
                    <li><a class="dropdown-item mt-2" href="/auth/sign-out">Sign out</a></li>
                </ul>
            </div>

        </div>