<%- include('../includes/header', { currentUser }) %>

  <div class="main-content p-2">

    <div class="mb-3 d-flex">
      <h2 class="title">Dashboard</h2>
    </div>

    <div class="alert alert-info" role="alert">
      A simple info alert—check it out!
    </div>


  </div> <!-- main-content -->

  <%- include('../includes/footer') %>