<%- include('../../includes/header', { currentUser}) %>

    <div class="mb-3 d-flex">
        <h2 class="title">New school</h2>
    </div>

    <div class="card p-3 mx-auto d-none" style="max-width: 500px" id="success-div">
        <h3 class="text-center mb-3">Successfully created</h3>
        <div class="fs-1 text-center text-success mb-3">
            <i class="bi bi-check-circle"></i>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn">
                <a class="" href="/dashboard/users">View all Users</a>
            </button>
        </div>
    </div>



    <div class="card p-3 mx-auto" style="max-width: 500px" id="form-div">

        <form action="/api/users/new" method="POST">
            <input id="numClasses" type="hidden" value="0" />


            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstname">
            </div>
            <div class="mb-3">
                <label for="middlename" class="form-label">Niddle Name</label>
                <input type="text" class="form-control" name="middlename">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastname">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="tel" class="form-control" name="phone">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email">
            </div>

            <div class="mb-3">
                <label for="dob" class="form-label">DOB</label>
                <input type="date" class="form-control" name="dob">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address">
            </div>

            <hr class="mb-3" />

            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" checked value="isSchoolStaff">
                <label class="form-check-label" for="type">
                    School Staff
                </label>
            </div>


            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value="isPortalAdmin">
                <label class="form-check-label" for="type">
                    Admin
                </label>
            </div>

            <div class="mb-3 d-flex justify-content-end">
                <button class="btn btn-danger" id="submit-btn" type="submit">
                    <span id="submit-spinner" class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                    submit
                </button>
            </div>
        </form>
    </div>


    <script>
        const submitForm = (formData) => {
            const response = fetch('/api/users/new', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });

            return response;
        };


        const form = document.querySelector('form');

        form.addEventListener('submit', async (evt) => {
            evt.preventDefault();
            const submitBtn = document.querySelector('#submit-btn');
            const submitSpinner = document.querySelector('#submit-spinner');

            const form = evt.srcElement;
            const username= form.username.value;
            const firstname = form.firstname.value;
            const middlename= form.middlename.value;
            const lastname= form.lastname.value;
            const dob= form.dob.value;
            const phone = form.phone.value;
            const address = form.address.value;
            const type = form.type.value;

            console.log({username, firstname, middlename, lastname, dob, phone, address, type});

            submitBtn.setAttribute('disabled', true);
            submitSpinner.classList.remove('d-none');

            const payload = {username, firstname, middlename, lastname, dob, phone, address, type};
            const response = await submitForm(payload);
            const data = await response.json();
            console.log(data);

            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });

            submitBtn.removeAttribute('disabled');
            submitSpinner.classList.add('d-none');

            if (data.success) {
                const formDiv = document.querySelector('#form-div');
                const successDiv = document.querySelector('#success-div');

                formDiv.classList.add('d-none');
                successDiv.classList.remove('d-none');
            }

        });
    </script>


    <%- include('../../includes/footer', { currentUser}) %>