<%- include('../../includes/header', { currentUser}) %>


    <div class="main-content p-3">

        <% const {id, name, description }=subject %>

            <div class="mb-3 d-flex">
                <h2 class="title">Subject</h2>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Subject</h5>
                    <hr />
                    <p class="card-title mb-3"><span class="fw-bold">Name</span>: <%= name %></p>
                    <p class="card-title mb-3"><span class=fw-bold>Description</span>: <%= description %></p>
                </div>
            </div>    
</div>


    <%- include('../../includes/footer', { currentUser}) %>